* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: underline;
}

ul {
    border: 5px;
    border-style: solid;
    border-color: slategray;
    padding: 50px auto;
}

ol {
    border: 5px;
    border-style: solid;
    border-color: lightcoral;
}

ul li{
    list-style: none;
    list-style-position: inside;
    text-align: center;
    margin: 25px auto; 
    margin-bottom: 10px;
}

ol li {
    text-align: left;
    margin: 20px auto;
}

li{
    margin-bottom: 10px 0;
  }

.recipes {
    font-size: 24px;
    font-weight: bold;
}

#top {
    border: 10px;
    border-style: solid;
    border-color: goldenrod;
}
